* {
  margin: auto;
  text-align: center;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

.vb {
  font-size: 29px;
}

body {
  background-color: rgba(204, 247, 164, 0.678);
}

h1 {
  padding: 20px;
  font-size: 40px;
}

img {
  width: 350px;
  height: 300px;
  padding-bottom: 10px;
}

.table {
  color: white;
  background-color: black;
  width: 900px;
  height: 300px;
  position: fixed;
  bottom: 5%;
  left: 50%;
  transform: translate(-50%);
}

.voteBox {
  display: flex;
  position: fixed;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* padding: 30px; */
}

.voteOne {
  border: 5px solid #115293;
  padding: 30px;
}

.voteOne:hover {
  background-color: #11529362;
  cursor: pointer;
}

.voteTwo {
  border: 5px solid #dc0054;
  padding: 30px;
}

.voteTwo:hover {
  background-color: #dc005456;
  cursor: pointer;
}

.buttonContainer {
  background-color: red;
  height: 100px;
}

.voteForOne {
  background-color: pink;
}

.voteForTwo {
  background-color: green;
}

.vote {
  flex: 1;
}

.vote:first-child {
  margin-right: 20px;
}
